#title {
  background-color: #ff4c68;
  color: #fff;
  height: 70%;

}

body {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: sans-serif;
  font-weight: 700;
  font-size:  3rem;
  line-height: 1.5;
}
h3{
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15% 7% 7%;
}

/*                                         NAVAGATION BAR*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding-right: 18px;
  padding-left: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: lighter;
}

/*                                        Download Botton */

.download-button {
  margin: 5% 3% 0 0;
  padding: 2% 4%;

}

/*                                           Images*/

.image {
  transform: rotate(25deg);
  width: auto;
  position: absolute;
  right:25%;
  margin:10px;
}


/*                                    features section*/

#features{
  padding:7% 10%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.ftp{
  color: #8f8f8f;
}
/*                                    middle section */


.ft{
  margin :10% auto 10% auto;
}
.check:hover{
 color: #ff4c68;
}
.check{
  font-size: 70px;
  color: #ef8172;
  padding-bottom: 20px;
}

/*                                     testimonials*/

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item{  padding: 7% 15%;
}

.Testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}
/*                                     press */

#press{
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}

.press-logo{
  width: 15%;
 margin: 20px 20px 50px 20px;
}
/*                                pricing*/
.sing-up{
  padding-left: 20%;
  padding-right: 20%;
}
.sign-up-short{
  margin-top: 40px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}
/*                          Call to Action */
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.ctah{
  font-family: sans-serif;
  font-weight: bolder;

  font-size: 300%;
  color: #fff;
}
.footerbtn{
  margin: 5% 3% 0 0;
  padding: 1% 2%;
}
/*                                footer*/
#footer{
  text-align: center;
  padding: 7% 15% ;
  background-color: #fff;
}
.footer-icons{
  margin: 10px;
}
.copy{
color: #adb5bd;
font-size: small;
}
/*                                  Media */
@media (max-width:1190px){
  .image{
    transform: rotate(0);
    position: static;
    width: auto;
    margin-top: 50px;
    text-align: center;
  }
  #title{
    text-align: center;
  }
}
